<h1>A propos</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque iusto sed
  ullam aspernatur minus quisquam, odio quam tempore eligendi suscipit inventore
  vel quae sequi quo reprehenderit porro fuga unde nesciunt labore quos alias
  reiciendis! Ipsum, commodi dolore iure rem nobis ipsa fugiat quaerat sit
  quisquam reprehenderit provident possimus perferendis, mollitia consequatur
  animi placeat voluptas doloribus. Doloribus cumque mollitia, temporibus
  voluptatibus numquam rem tempore alias reprehenderit, deleniti id cum quae
  ipsam quos repudiandae quibusdam sint! Quas iure, maiores in error debitis
  tempore expedita culpa? Minus, provident amet aliquam molestias quam itaque
  enim facilis, dolor hic aut iusto! At adipisci alias repudiandae.
</p>

<router-outlet></router-outlet>
