<nav>
  <ul>
    <li><a routerLink="home">Accueil</a></li>
    <li><a routerLink="about">A propos</a></li>
    <li>
      <a routerLink="demos">Demos</a>
      <ul>
        <li><a routerLink="demos/demo1">Demo 1</a></li>
        <li><a routerLink="demos/demo2">Demo 2</a></li>
        <li><a routerLink="demos/demo3">Demo 3</a></li>
        <li><a routerLink="demos/demo4">Demo 4</a></li>
        <li><a routerLink="demos/demo5">Demo 5</a></li>
        <li><a routerLink="demos/demo6">Demo 6</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="exo">Exercices</a>
      <ul>
        <li><a routerLink="exo/exo1">Exo 1</a></li>
        <li><a routerLink="exo/exo2">Exo 2</a></li>
      </ul>
    </li>
  </ul>
</nav>

<!-- <router-outlet></router-outlet> -->
