<h2>Demo 6: Component Directives</h2>

<h3>NgStyle</h3>

<p [ngStyle]="currentStyle" appHighlight>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nemo perferendis voluptate fuga similique quia, fugiat cumque consequuntur voluptatibus voluptatem. Aperiam deserunt atque quo veniam esse eaque minus corporis a.
</p>
<button (click)="switchItalic()">Italic</button>&nbsp;
<button (click)="switchBold()">Bold</button>&nbsp;
<button (click)="switchSize()">Size</button>

<h3>NgClass</h3>

<p [ngClass]="{ maClass: isActive }">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ea at autem tempora maiores ex non soluta mollitia accusamus debitis laudantium dolor, explicabo enim! Aliquam nisi magni ab enim mollitia.
</p>

<button (click)="switchClass()">Appliquer la classe ".maClass"</button>